extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/new")
    button(type="button") New Message

  each user in messages
    h2= user.user
    p= user.text
    small= user.added